.nav-item {
	margin: auto 40px;
	font-size: 1.2rem;
}

/*SECTION--MAIN*/
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-image: linear-gradient(to top, #8dacda, #7196cf, #557fc4, #3669b8, #0454ac);
}